@import "../../../assets/css/base.scss";

.zmiti-toast-main-ui {
	background: rgba(0, 0, 0, .7);
	@include pos(a);
	top: 30%;
	left: 50%;
	@include transform(translate3d(-50%, 0, 0));
	padding: 10px;
	text-align: center;
	color: #fff;
	width: 50%;
	@include br(10px);
	z-index: 99999;
	font-size: .5rem;
}

.zmiti-toast-main {
	@include pos(a);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	//background: rgba(0, 0, 0, .5);
	z-index: 10001;
}
