@import "../../../assets/css/base.scss";

.zmiti-index-main-ui {
  width: 100%;
  height: 100%;
  @include transition(.3s);
  left: 0;
  top: 0;
  background: #56c6ff;
  z-index: 100;
  @include pos(a);

  &.hide {
    display: none;
  }

  z-index: 2110;

  .zmiti-index-footer {
    @include pos(a);
    bottom: 2.5rem;
    left: 0;
    height: 5rem;

    &>div {
      @include pos(a);
      width: 4rem;
      left: 3rem;
      top: 3rem;
      @include animation(scale 1s linear infinite alternate);
    }

  }

  .zmiti-fuxin {
    width: 4rem;
    @include pos(a);
    left: 3rem;
    top: .5rem;
    @include transition(.4s);
    @include transform(scale(0));
    //@include transitionTimingFunction();

    &.active {
      @include transform(scale(1));
    }

  }

  .zmiti-ar1, .zmiti-ar2 {
    @include pos(a);
    width: 2rem;
    left: 2.4rem;
    top: 4rem;
    @include transform(translate3d(-300px, 300px, 0));

    &.active {
      @include transition(.5s .4s);
      @include transform(translate3d(0, 0, 0));
    }

  }

  .zmiti-index-text {
    @include pos(a);
    width: 8rem;
    left: 1rem;
    color: #fff;
    top: -1.52rem;
    font-size: .5rem;
    text-indent: 2em;
    line-height: .8rem;
    opacity: 0;
    @include transition(2s 1s);

    &.active {
      opacity: 1;
    }

  }

  .zmiti-ar2 {
    left: 6rem;
    top: 1rem;
    @include transform(translate3d(300px, -300px, 0));
  }

}

@-webkit-keyframes scale {
  from {
    @include transform(scale(.97));
  }

  to {
    @include transform(scale(1.03));
  }

}

@media all and (max-height:504px) {
  .zmiti-index-main-ui {
    .zmiti-index-text {
      line-height: .8rem;
    }

  }

}

@media all and (max-height:612px) and(min-width:412px) {
  .zmiti-index-main-ui {
    .zmiti-index-text {
      top: -1.10rem;
    }

  }

}
