/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-share-main-ui {
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 100%;
  z-index: 1040;
  overflow: hidden;
  background: #000; }
  .zmiti-share-main-ui.hide {
    display: none; }
  .zmiti-share-main-ui .zmiti-share-bg {
    width: 12rem;
    height: 90%;
    top: 20%;
    position: absolute;
    left: -1rem;
    background: #ff9c32;
    z-index: 10;
    border-radius: 30%; }
    .zmiti-share-main-ui .zmiti-share-bg .zmiti-share-info {
      width: 7rem;
      height: 9rem;
      margin: -1rem auto;
      background: #ffdf1b;
      border-radius: 10px;
      border: 1px solid #000;
      position: relative; }
      .zmiti-share-main-ui .zmiti-share-bg .zmiti-share-info:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: -6px;
        z-index: -1;
        box-sizing: border-box;
        background: #c36000;
        border: 1px solid #000;
        left: 0;
        border-radius: 10px; }
      .zmiti-share-main-ui .zmiti-share-bg .zmiti-share-info > div {
        text-align: center;
        font-weight: bold;
        margin: 8px auto;
        font-size: .5rem;
        width: 6rem; }
      .zmiti-share-main-ui .zmiti-share-bg .zmiti-share-info .zmiti-puzzle-img {
        width: 4rem;
        height: 4rem;
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #000;
        margin: 0 auto; }
    .zmiti-share-main-ui .zmiti-share-bg .zmiti-medo {
      width: 7rem;
      margin: 1rem auto !important; }
      .zmiti-share-main-ui .zmiti-share-bg .zmiti-medo img {
        width: 5rem; }
    .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu {
      width: 7rem;
      margin: 1rem auto !important;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div {
        text-align: center;
        height: 1.2rem;
        line-height: 1.2rem;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        background: #f53700; }
        .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(2) {
          opacity: 0; }
        .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(1), .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(3) {
          -webkit-box-flex: 1;
          position: relative; }
          .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(1).active, .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(3).active {
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
            .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(1).active:before, .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(1).active:after, .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(3).active:before, .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(3).active:after {
              display: none; }
          .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(1):before, .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(1):after, .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(3):before, .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(3):after {
            content: '';
            border-radius: 15px;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 80%;
            left: 0;
            bottom: 0; }
          .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(1):after, .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(3):after {
            background: #e13200;
            bottom: -3px;
            width: 98%;
            left: 1%; }
          .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(1):before, .zmiti-share-main-ui .zmiti-share-bg .zmiti-continu > div:nth-of-type(3):before {
            width: 102%;
            left: -1%;
            background: #751c00;
            bottom: -6px; }
  .zmiti-share-main-ui .zmiti-mask {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    position: absolute; }

/*# sourceMappingURL=index.css.map */