@import "../../../assets/css/base.scss";

.zmiti-share-main-ui {
  @include pos(a);
  left: 0;
  top: 0;
  width: 10rem;
  height: 100%;
  z-index: 2040;
  overflow: hidden;
  background: #000;

  &.hide {
    display: none;
  }

  background: #56c6ff;

  .zmiti-share-top {
    width: 5rem;
    @include pos(a);
    left: 0;
    top: 0;
  }

  .zmiti-share-bottom {
    width: 10rem;
    @include pos(a);
    left: 0;
    bottom: 0;
  }

}
