@import "../../../assets/css/base.scss";

.zmiti-share-main-ui {
  @include pos(a);
  left: 0;
  top: 0;
  width: 10rem;
  height: 100%;
  z-index: 2040;
  overflow: hidden;
  background: #000;

  &.hide {
    display: none;
  }

  background: #56c6ff;

  .zmiti-share-top {
    width: 5rem;
    @include pos(a);
    left: 0;
    top: 0;
  }

  .zmiti-share-bottom {
    width: 10rem;
    @include pos(a);
    left: 0;
    bottom: 0;
  }

  .zmiti-bottom-bg {
    width: 20rem;
    left: -5rem;
    height: 16rem;
    bottom: 0;
    @include transform(translate3d(0, 14rem, 0));
    background: #fff;
    @include br();
    @include pos(a);
    z-index: 100;
  }

  .zmiti-qrcode {
    @include pos(a);
    width: 3rem;
    right: .4rem;
    bottom: 0;
    z-index: 101;
  }

}
